# eigenbase managed — edit roles/dotfiles/templates/tmux.conf.j2 to customize

unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

bind | split-window -h
bind - split-window -v
bind r source-file ~/.tmux.conf \; display "Reloaded!"

set -g mouse on
set -g default-terminal "screen-256color"
set -g history-limit 10000
set -g base-index 1

set -g status-bg colour235
set -g status-fg colour136
set -g status-left '#[fg=green]#H '
set -g status-right '#[fg=yellow]%H:%M %d-%m-%Y'
